<header >
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="https://www.in28minutes.com" class="navbar-brand">
            COVID-19</a></div>
            
      <ul class="navbar-nav">
        <li><a class="nav-link">Home</a></li>
        <li><a class="nav-link">New</a></li>
      </ul>
  
      <ul class="navbar-nav navbar-collapse justify-content-end">
        <li><a  class="nav-link">Login</a></li>
        <li><a  class="nav-link">Logout</a></li>
      </ul>
    </nav>
  </header>